{
  "Language": "Cpp",
  "SortIncludes": "CaseSensitive",
  "IndentWidth": 4,
  "UseCRLF": false,
  "UseTab": "Never",
  "AllowShortBlocksOnASingleLine": "Always",
  "AllowShortIfStatementsOnASingleLine": "AllIfsAndElse",
  "AllowShortLambdasOnASingleLine": "Inline",
  "BreakBeforeBraces": "Attach",
  "ReferenceAlignment": "Middle",
  "PointerAlignment": "Middle",
  "SpaceAroundPointerQualifiers": "Both",
  "BreakConstructorInitializers": "BeforeComma",
  "SpaceBeforeParens": "ControlStatements",
  "SpaceInEmptyBlock": false,
  "SpaceInEmptyParentheses": false,
  "FixNamespaceComments": true,
  "SortUsingDeclarations": true,
  "AllowAllArgumentsOnNextLine": true,
  "AllowAllParametersOfDeclarationOnNextLine": true,
  "BinPackArguments": false,
  "BinPackParameters": false,
  "Cpp11BracedListStyle": true,
  "SpaceBeforeCpp11BracedList": false,
  "BasedOnStyle": "webkit"
}
